In [8]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from dataprep.eda import create_report

In [9]:
df = pd.read_csv('../../data/telecom_churn_me.csv')
df

,Unnamed: 0,PTY_PROFILE_SUB_TYPE,SOCIO_ECONOMIC_SEGMENT,PARTY_NATIONALITY,PARTY_GENDER_CD,TARGET,YEAR_JOINED,CURRENT_YEAR,BILL_AMOUNT,PAID_AMOUNT,...,MOUS_FROM_LOCAL_MOBILES,MOUS_TO_LOCAL_LANDLINES,MOUS_FROM_LOCAL_LANDLINES,MOUS_TO_INT_NUMBER,MOUS_FROM_INT_NUMBER,DATA_IN_BNDL,DATA_OUT_BNDL,DATA_USG_PAYG,COMPLAINTS,Years_stayed
0,0,Residential,EMIRATI,United Arab Emirates,M,0,1994,2019,931.208938,812.175000,...,35.850,34.015,72.075,141.840,56.115,11944.079102,0.0,0.0,0,25
1,1,Prestige,EMIRATI,United Arab Emirates,M,0,1994,2019,431.082618,486.500000,...,10.595,7.715,11.750,5.110,0.000,9903.157715,0.0,0.0,0,25
2,2,Residential,EMIRATI,United Arab Emirates,M,0,1994,2019,50.619644,52.815000,...,0.000,0.000,0.000,0.000,0.000,0.102539,0.0,0.0,0,25
3,3,Prestige,EMIRATI,United Arab Emirates,M,0,1994,2019,399.710034,422.235000,...,158.500,2.670,15.965,0.000,0.000,3600.322266,0.0,0.0,0,25
4,4,Residential,EMIRATI,United Arab Emirates,M,0,1994,2019,612.665844,825.888333,...,186.050,17.515,28.685,3.235,4.475,3852.026367,0.0,0.0,0,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140599,1140610,Residential,EMIRATI,United Arab Emirates,M,0,2017,2019,297.752650,313.950000,...,0.000,0.000,0.000,0.000,0.000,307945.957031,0.0,0.0,0,2
1140600,1140611,Residential,YOUTH,United Arab Emirates,M,0,2017,2019,160.663773,178.500000,...,0.000,0.000,0.000,0.000,0.000,22647.873535,0.0,0.0,0,2
1140601,1140612,Consumer via Retailer,EXPATS,Comoros,M,0,2017,2019,570.147016,642.911667,...,64.990,3.660,10.050,0.000,0.000,17582.867188,0.0,0.0,0,2
1140602,1140613,Residential,EXPATS,Philippines,M,0,2017,2019,452.736799,525.413333,...,102.075,54.065,7.980,5.350,0.065,3015.338867,0.0,0.0,0,2
1140603,1140614,Residential,EXPATS,Syrian Arab Republic,M,0,2017,2019,151.659202,200.000000,...,0.000,0.000,0.000,0.000,0.000,0.000000,0.0,0.0,0,2

In [10]:
df_a = df.drop(columns= ['PTY_PROFILE_SUB_TYPE','SOCIO_ECONOMIC_SEGMENT','PARTY_NATIONALITY','PARTY_GENDER_CD','STATUS'])
df_b = df[['PTY_PROFILE_SUB_TYPE','SOCIO_ECONOMIC_SEGMENT','PARTY_NATIONALITY','PARTY_GENDER_CD','STATUS']]

df_a

,Unnamed: 0,TARGET,YEAR_JOINED,CURRENT_YEAR,BILL_AMOUNT,PAID_AMOUNT,PAYMENT_TRANSACTIONS,PARTY_REV,PREPAID_LINES,POSTPAID_LINES,...,MOUS_FROM_LOCAL_MOBILES,MOUS_TO_LOCAL_LANDLINES,MOUS_FROM_LOCAL_LANDLINES,MOUS_TO_INT_NUMBER,MOUS_FROM_INT_NUMBER,DATA_IN_BNDL,DATA_OUT_BNDL,DATA_USG_PAYG,COMPLAINTS,Years_stayed
0,0,0,1994,2019,931.208938,812.175000,1,5968.700000,2,6,...,35.850,34.015,72.075,141.840,56.115,11944.079102,0.0,0.0,0,25
1,1,0,1994,2019,431.082618,486.500000,1,6245.141667,6,4,...,10.595,7.715,11.750,5.110,0.000,9903.157715,0.0,0.0,0,25
2,2,0,1994,2019,50.619644,52.815000,1,1666.488333,2,3,...,0.000,0.000,0.000,0.000,0.000,0.102539,0.0,0.0,0,25
3,3,0,1994,2019,399.710034,422.235000,1,2522.008333,3,4,...,158.500,2.670,15.965,0.000,0.000,3600.322266,0.0,0.0,0,25
4,4,0,1994,2019,612.665844,825.888333,1,1219.961667,0,2,...,186.050,17.515,28.685,3.235,4.475,3852.026367,0.0,0.0,0,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140599,1140610,0,2017,2019,297.752650,313.950000,1,2418.486667,5,4,...,0.000,0.000,0.000,0.000,0.000,307945.957031,0.0,0.0,0,2
1140600,1140611,0,2017,2019,160.663773,178.500000,1,454.116667,0,1,...,0.000,0.000,0.000,0.000,0.000,22647.873535,0.0,0.0,0,2
1140601,1140612,0,2017,2019,570.147016,642.911667,1,615.866667,1,1,...,64.990,3.660,10.050,0.000,0.000,17582.867188,0.0,0.0,0,2
1140602,1140613,0,2017,2019,452.736799,525.413333,2,735.645000,1,2,...,102.075,54.065,7.980,5.350,0.065,3015.338867,0.0,0.0,0,2
1140603,1140614,0,2017,2019,151.659202,200.000000,1,935.358333,2,2,...,0.000,0.000,0.000,0.000,0.000,0.000000,0.0,0.0,0,2

In [21]:
df_b = df_b.apply(LabelEncoder().fit_transform)
df_b

,PTY_PROFILE_SUB_TYPE,SOCIO_ECONOMIC_SEGMENT,PARTY_NATIONALITY,PARTY_GENDER_CD,STATUS
0,2,0,179,1,0
1,1,0,179,1,0
2,2,0,179,1,0
3,1,0,179,1,0
4,2,0,179,1,0
...,...,...,...,...,...
1140599,2,0,179,1,0
1140600,2,2,179,1,0
1140601,0,1,39,1,0
1140602,2,1,136,1,0
1140603,2,1,167,1,5

In [22]:
for i in ['PTY_PROFILE_SUB_TYPE','SOCIO_ECONOMIC_SEGMENT','PARTY_NATIONALITY','PARTY_GENDER_CD','STATUS']:
    df_a[i] = df_b[i]
df_a

,Unnamed: 0,TARGET,YEAR_JOINED,CURRENT_YEAR,BILL_AMOUNT,PAID_AMOUNT,PAYMENT_TRANSACTIONS,PARTY_REV,PREPAID_LINES,POSTPAID_LINES,...,DATA_IN_BNDL,DATA_OUT_BNDL,DATA_USG_PAYG,COMPLAINTS,Years_stayed,PTY_PROFILE_SUB_TYPE,SOCIO_ECONOMIC_SEGMENT,PARTY_NATIONALITY,PARTY_GENDER_CD,STATUS
0,0,0,0,1,1067482,398715,1,600629,2,5,...,680749,0,0,0,25,2,0,179,1,0
1,1,0,0,1,818511,289352,1,600930,6,3,...,619659,0,0,0,25,1,0,179,1,0
2,2,0,0,1,42571,12427,1,511251,2,2,...,218,0,0,0,25,2,0,179,1,0
3,3,0,0,1,778779,254194,1,567494,3,3,...,297099,0,0,0,25,1,0,179,1,0
4,4,0,0,1,967020,401349,1,446146,0,1,...,313961,0,0,0,25,2,0,179,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140599,1140599,0,23,1,584990,182341,1,563449,5,3,...,896723,0,0,0,2,2,0,179,1,0
1140600,1140600,0,23,1,226737,83424,1,186326,0,0,...,816992,0,0,0,2,2,2,179,1,0
1140601,1140601,0,23,1,941471,354782,1,259905,1,0,...,765150,0,0,0,2,0,1,39,1,0
1140602,1140602,0,23,1,842256,308189,2,310157,1,1,...,258830,0,0,0,2,2,1,136,1,0
1140603,1140603,0,23,1,184742,99173,1,378158,2,1,...,0,0,0,0,2,2,1,167,1,5

In [23]:
df_pca = df_a.drop(columns = ['Unnamed: 0'])
df_pca

,TARGET,YEAR_JOINED,CURRENT_YEAR,BILL_AMOUNT,PAID_AMOUNT,PAYMENT_TRANSACTIONS,PARTY_REV,PREPAID_LINES,POSTPAID_LINES,OTHER_LINES,...,DATA_IN_BNDL,DATA_OUT_BNDL,DATA_USG_PAYG,COMPLAINTS,Years_stayed,PTY_PROFILE_SUB_TYPE,SOCIO_ECONOMIC_SEGMENT,PARTY_NATIONALITY,PARTY_GENDER_CD,STATUS
0,0,0,1,1067482,398715,1,600629,2,5,2,...,680749,0,0,0,25,2,0,179,1,0
1,0,0,1,818511,289352,1,600930,6,3,2,...,619659,0,0,0,25,1,0,179,1,0
2,0,0,1,42571,12427,1,511251,2,2,1,...,218,0,0,0,25,2,0,179,1,0
3,0,0,1,778779,254194,1,567494,3,3,3,...,297099,0,0,0,25,1,0,179,1,0
4,0,0,1,967020,401349,1,446146,0,1,1,...,313961,0,0,0,25,2,0,179,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140599,0,23,1,584990,182341,1,563449,5,3,3,...,896723,0,0,0,2,2,0,179,1,0
1140600,0,23,1,226737,83424,1,186326,0,0,1,...,816992,0,0,0,2,2,2,179,1,0
1140601,0,23,1,941471,354782,1,259905,1,0,0,...,765150,0,0,0,2,0,1,39,1,0
1140602,0,23,1,842256,308189,2,310157,1,1,0,...,258830,0,0,0,2,2,1,136,1,0
1140603,0,23,1,184742,99173,1,378158,2,1,0,...,0,0,0,0,2,2,1,167,1,5

In [26]:
pca_data = PCA(n_components = 27).fit_transform(df_pca)
pca_data

array([[ 7.27440201e+05, -4.89397872e+04, -1.16232366e+05, ...,
        -9.54006759e-02, -2.96482183e-08,  4.27688570e-08],
       [ 4.22453215e+05,  3.84918623e+04, -1.96340611e+05, ...,
        -3.87016596e-02,  1.20473220e-07,  1.05250888e-08],
       [-6.46784527e+05, -8.11293658e+04, -3.10745310e+05, ...,
         2.08043520e-02, -9.87745759e-13, -4.38407893e-13],
       ...,
       [ 5.49619758e+05,  1.52524091e+05,  1.63642763e+05, ...,
        -1.01130850e-01, -8.62220353e-13,  1.50632704e-13],
       [ 1.96908855e+05, -2.32619188e+05,  1.05277167e+05, ...,
        -1.06199257e-01,  4.07386121e-13,  3.27551225e-13],
       [-5.26695619e+05, -1.39755759e+05, -1.38277548e+05, ...,
        -3.66773437e-02,  3.28483134e-13,  1.97569393e-13]])

In [27]:
names = ["TARGET","YEAR_JOINED","CURRENT_YEAR","BILL_AMOUNT","PAID_AMOUNT","PAYMENT_TRANSACTIONS","PARTY_REV","PREPAID_LINES","POSTPAID_LINES","OTHER_LINES","LINE_REV","MOUS_TO_LOCAL_MOBILES","MOUS_FROM_LOCAL_MOBILES","MOUS_TO_LOCAL_LANDLINES","MOUS_FROM_LOCAL_LANDLINES","MOUS_TO_INT_NUMBER","MOUS_FROM_INT_NUMBER","DATA_IN_BNDL","DATA_OUT_BNDL","DATA_USG_PAYG","COMPLAINTS","Years_stayed","PTY_PROFILE_SUB_TYPE","SOCIO_ECONOMIC_SEGMENT","PARTY_NATIONALITY","PARTY_GENDER_CD","STATUS"]
imputed_pca_df = pd.DataFrame(pca_data, columns = names)
imputed_pca_df

,TARGET,YEAR_JOINED,CURRENT_YEAR,BILL_AMOUNT,PAID_AMOUNT,PAYMENT_TRANSACTIONS,PARTY_REV,PREPAID_LINES,POSTPAID_LINES,OTHER_LINES,...,DATA_IN_BNDL,DATA_OUT_BNDL,DATA_USG_PAYG,COMPLAINTS,Years_stayed,PTY_PROFILE_SUB_TYPE,SOCIO_ECONOMIC_SEGMENT,PARTY_NATIONALITY,PARTY_GENDER_CD,STATUS
0,727440.200881,-48939.787174,-116232.366169,59457.139926,32435.074655,-46159.979338,18111.869925,28336.941202,10821.679438,-2568.071759,...,0.477707,-0.477439,-0.391988,-0.415770,-0.315914,-0.066554,0.103008,-0.095401,-2.964822e-08,4.276886e-08
1,422453.214884,38491.862300,-196340.611317,-70888.482581,11406.738403,-5887.096963,4749.523105,-8427.632961,1885.890884,-1674.277610,...,-0.185545,0.255690,-0.264591,0.464356,0.675742,0.055850,-0.002347,-0.038702,1.204732e-07,1.052509e-08
2,-646784.527197,-81129.365834,-310745.310406,-333.124602,8768.580579,-5627.735628,-950.289702,-270.760963,424.037775,-16.900913,...,-0.323603,0.300505,0.099009,0.102509,0.026429,-0.018489,-0.000601,0.020804,-9.877458e-13,-4.384079e-13
3,206912.616135,-207188.150705,-163107.613639,-17588.325772,-34468.217609,13167.469932,-6185.698622,-8526.884300,-5182.045509,-3367.745054,...,-0.325678,1.306676,-0.211879,0.501485,0.785677,-0.014984,0.004968,-0.026350,-1.436532e-12,-4.224467e-13
4,418653.846414,-297858.319871,18456.703380,-40267.536502,76429.734755,26350.463836,-2178.760476,-23521.321413,-3970.411318,-86.982781,...,-0.375308,0.506407,-0.418150,-0.334440,-0.239605,-0.269766,0.035447,-0.034038,-8.600267e-13,-4.502742e-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140599,301254.582496,418762.200546,-246697.436777,-102583.405885,-20005.301809,7863.352140,-5962.747026,-4695.579880,994.515905,-2173.935203,...,-0.576203,1.423459,-0.304294,-0.500607,0.191857,-0.016075,-0.104828,-0.027778,-4.916888e-13,-1.900852e-14
1140600,-140085.634361,588132.239139,18969.201764,-57144.155344,32758.810280,2897.215942,-2669.451720,-11585.112909,704.287715,-1331.978176,...,-0.418667,1.250006,-0.164155,0.880551,-0.751568,-0.163478,-0.138105,-0.056519,-1.284170e-13,3.790701e-14
1140601,549619.758404,152524.091173,163642.763013,-85913.907112,45103.572243,5155.450977,-1454.630089,-24188.633436,-2229.482940,-3516.326200,...,-0.449268,-0.204296,-0.612688,0.553095,1.492209,-0.145006,-0.157286,-0.101131,-8.622204e-13,1.506327e-13
1140602,196908.854852,-232619.187780,105277.166852,-42000.252439,-13628.425149,2639.844882,-40074.812945,-14518.846785,-3945.148938,9743.214440,...,-0.554384,-0.561056,0.560606,-0.003464,-0.258541,-0.362766,-0.122939,-0.106199,4.073861e-13,3.275512e-13
1140603,-526695.619224,-139755.758538,-138277.548404,-13337.270102,39169.843494,-6536.819952,-22798.920606,-7665.490384,-522.967428,-628.640370,...,4.083250,0.154638,-0.353318,0.194593,-0.379980,-0.216086,-0.181939,-0.036677,3.284831e-13,1.975694e-13

In [28]:
report = create_report(df_a, title='Telco Customer Churn data report after labelenconder')
report.show_browser()

  0%|          | 0/6482 [00:00<?, ?it/s]

C:\Users\Alex\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\scipy\stats\_stats_py.py:5215: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))